 
 .wrapper{
    height: 1200;
    width:100%;
    display:flex;
    flex: 1;
    flex-direction:column;
    justify-content:safe;
    align-items:center;
    /*background: url(../../Assets/background1.jpg);*/
    /* ?background-image: url("https://www.washingtonpost.com/resizer/WWLs91LUlbMpRXQMbDcLPXlFUhg=/1484x0/arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/AA43TKRJCY7PJGI3Y6PWFEF44I.jpg"); */
    background-position:inherit;
   /** background-image: url("https://www.internet-idee.net/admin/advanced/backend/web/uploads/categoria/d/8/2/cropBanner/GDO.jpg");
       */
        background-repeat:no-repeat;
        
 

}

.wrapForm{
    background-color:#fffff;
    flex: 1;
    border-radius: 25px;
    align-self:center;
    justify-content: center;
    opacity: 0.8;
    margin: 10px;
    width: 420px;
    height: 900px;
    display: flex;
    flex-direction: column;    
    filter: alpha(opacity=60);  
    display:flex;
    flex-wrap:wrap;
    padding-left: 1%;
    padding-right: 1%;
}
.btn-btn-default1{
    color:'green';
    background-color: 'green';
    padding: 10px 10px;
    position: center;
    align-content: center;
    border: 'green';
    width: 350;
    }

input{
    padding: 10px 10px;
    outline: none;
    border: 1px solid #cfcfcf;
}
input:hover{
    padding: 10px 10px;
    outline: none;
    border: 2px solid #8e88c9;
}
